name: Demo trigger events

on:
  # Webhook events
  push:
    branches:
      - main
      - feat/*
  pull_request:
      branches:
        - main
  issues:
    types:
      - opened
      - closed
  # Schedule events
  schedule:
    - cron: 0 0  * * *  
    - cron: 0 9 * * 0
  # Manual events
  workflow_dispatch:
    inputs:
      yourName:
        description: Your name
        required: true
        default: My Friend
      areYouFeelingGood:
        default: How are you ffeling?
        required: true
        type: boolean
      howDoYouFindGithubActions:
        default: Github actions good?
        required: false
        type: choice
        options:
          - Awesome
          - Okay
          - Na

jobs:
  Greeting:
    runs-on: ubuntu-latest
    steps:
      - name: Greeting step
        run: echo Hello World!
