name: Demo deployment environmetns

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        options:
          - Test
          - Staging
          - Production

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: build
        run: echo Building the app...

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Test
        run: echo Testing the app

  deployment:
    runs-on: ubuntu-latest
    needs: [build, test]
    environment:
      name: ${{inputs.environment}}
      url: ${{vars.APP_URL}}
    steps:
      - name: Deploying feature
        run: echo Feature is being deployed
        if: ${{vars.FEATURE_FLAG == 'true'}}
      - name: Show message
        run: echo Feature is not being deployed
        if: ${{vars.FEATURE_FLAG == 'false'}}
      - name: Show DB psw
        run: echo ${{secrets.DB_PSW}}
        
